
.container{
    display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(9, 11vh);
            background-color: black;
      }  
.comtainer{
    background-color: black;
}      

.one{
    grid-column:1/7;
    grid-row: 5/10 ;
}
.one{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
    
    
 }

.tree{
    grid-column:1/4;
    grid-row: 1/6;
}
.tree{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
    
     }
.four{
    grid-column: 4/10;
    grid-row: 2/5;
}
.four{
    
    -webkit-text-fill-color:aquamarine;
}

.a{
    grid-column: 10/13;
    grid-row:5/9 ;
}
.a{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
}
.b{
    grid-column:7/10 ;
    grid-row: 5/9;
}
.b{
    
    -webkit-text-fill-color: chartreuse;
    text-align: center;
    font-size: larger;
}
.main{
    -webkit-text-fill-color:aquamarine;
}
.content{
    -webkit-text-fill-color:aquamarine;
}
.c{
    -webkit-text-fill-color: aquamarine;
    font-size: large;
    text-align: center;

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
.container{
    display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(9, 11vh);
            background-color: black;
      }        

.one{
    grid-column:1/7;
    grid-row: 5/10 ;
}
.one{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
    
    
 }
.two{
    grid-column:10/12;
    grid-row: 1/2;
}
.two{
   
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: aqua;
    
}
.tree{
    grid-column:1/4;
    grid-row: 1/6;
}
.tree{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
    
     }
.four{
    grid-column: 4/10;
    grid-row: 2/5;
}
.four{
    
    -webkit-text-fill-color:aquamarine;
}

.a{
    grid-column: 10/13;
    grid-row:5/9 ;
}
.a{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
}
.b{
    grid-column:7/10 ;
    grid-row: 5/9;
}
.b{
    
    -webkit-text-fill-color: chartreuse;
    text-align: center;
    font-size: larger;
}
.main{
    -webkit-text-fill-color:aquamarine;
}
.content{
    -webkit-text-fill-color:aquamarine;
}
.c{
    -webkit-text-fill-color: aquamarine;
    font-size: large;
    text-align: center;

}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px)
.container{
    display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(9, 11vh);
            background-color: black;
      }        

.one{
    grid-column:1/7;
    grid-row: 5/10 ;
}
.one{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
    
    
 }
.two{
    grid-column:10/12;
    grid-row: 1/2;
}
.two{
   
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: aqua;
    
}
.tree{
    grid-column:1/4;
    grid-row: 1/6;
}
.tree{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
    
     }
.four{
    grid-column: 4/10;
    grid-row: 2/5;
}
.four{
    
    -webkit-text-fill-color:aquamarine;
}

.a{
    grid-column: 10/13;
    grid-row:5/9 ;
}
.a{
    
    text-align: center;
    font-size: larger;
    -webkit-text-fill-color: chartreuse;
}
.b{
    grid-column:7/10 ;
    grid-row: 5/9;
}
.b{
    
    -webkit-text-fill-color: chartreuse;
    text-align: center;
    font-size: larger;
}
.main{
    -webkit-text-fill-color:aquamarine;
}
.content{
    -webkit-text-fill-color:aquamarine;
}
.c{
    -webkit-text-fill-color: aquamarine;
    font-size: large;
    text-align: center;

}



